@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    color: #1e1e2a;
}

/*alteração no container do header*/

.conteiner-cabecalho{
    height: 100vh;
    width: 100vw;
    background-color: #879ab6;
/*Colocando uma foto como preenchimento de fuindo*/
    background-image: url(./img/foto.jfif);
/*comando para que a foto não fique se repetindo*/
    background-repeat: no-repeat;
/*posicionamento da foto*/
    background-position: center;
    background-size: contain ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
}
h1{
    /*Tamanho da fonte*/
    font-size: 50px;
    /*Deixa tudo maiusculo*/
    text-transform: uppercase;
    /*espaçamento entre as letras*/
    letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Altera a DIV dos Links do linkedin e Github*/
.midias{
    margin-top: 1rem;
    display: flex;
    
}

/*Altera a caracteristica dos links*/
.midias a{
    text-decoration: none;
    color: black;
    padding: 1rem 4rem;
    border: 1px solid #000000;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
   
    
}

a:hover{
    background-color: rgb(255, 254, 254);
}


/*Menu hamburger*/

.checbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}


#toggle{
    display: none;
}


/*##### Aqui faremos o menu interativo*/
.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-sizing: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul{
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}


/*##### Aqui faremos a parte interativa do menu ( tranformar em x)*/


#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top:47px
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox{
    background-color: #ffffff;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}

#toggle:checked ~ .menu-itens{
    visibility: visible;
    opacity: 1;
}

/*###########      A partir daqui vamos manipular os Cards do portfolio*/

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60e1e0;
    background-image: url(./img/projeto_eletrico.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text{
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover{
    filter: unset;
}
.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
    
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}